@use "../../style/variables" as *;
@import "../../style/mixins";

.Popup {
  width: 250px;
  background: rgba($color: $color-black, $alpha: 0.3);
  position: absolute;
  right: 135px;
  top: calc(100% - 15px);
  border-radius: 4px;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;

  &__hidden {
    display: none;
  }

  & a {
    @include Link(14px);
    color: $color-close-white;
    display: flex;
    align-items: center;
    gap: 15px;

    & img {
      width: 24px;
      height: 24px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
